$header:#e4e4e4;
$blue:#11b6e0;
$pink:#661a4d;
$purple:#4d2682;
$cookies:#191919;
$error:#e90000;
$red:#f04a55;
$primary-foreground-color: #fff;
$primary-background-color: #2B333F;
$center-big-play-button: true;
$big-play-width: 65px;
$big-play-height: 40px;